/* General body and layout styles */
body {
    font-family: 'Wix Madefor Display', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Hides horizontal scrollbar, which is often desired */
    overflow-y: auto; /* Allows vertical scrolling when necessary */
    
}

/* Main container for the ItemsPage */
.main-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align children horizontally */
    padding: 20px;
    max-width: 100%; /* Use full width of the viewport */
    margin: 0 auto;
    position: relative; /* Keep it static to flow naturally */
    overflow: auto;
    align-items: start; /* Align children at the start of the container */
}

/* Card styling for different components */
.card {
    background-color: #fff;
    border-radius: 0px;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

/* Form field container styling */
.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust margin as needed */
}

/* Adjust label width to ensure consistent alignment */
label {
    flex-basis: 30%; /* Adjust based on your preference */
    margin: 0; /* Resetting margin for better alignment control */
    padding-right: 10px; /* Spacing between label and input */
}

/* Styling for inputs to align them to the right */
input[type="text"], input[type="number"] {
    flex-grow: 1; /* Allows input to take up the remaining space */
    padding: 5px;
    margin: 0; /* Resetting margin for alignment */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
}


button:hover {
    background-color: #191919;
}

/* Input field styling */

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #007BFF;
}

/* Adjusting margins for labels */
label {
    display: block;
    margin: 5px;
}
